.App {
  text-align: center;
}

h1 {
  font-family: "Fascinate Inline", sans-serif;
}

th {
  font-family: "Aladin", sans-serif;
  font-size: x-large;
  color: rgb(145, 224, 250) !important;
  text-align: center;
}

td {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

.form-label {
  font-family: "Aladin", sans-serif;
  font-size: x-large;
  font-weight: 600;

}

.form-check-label {
  font-family: "Aladin", sans-serif;
  font-size: large;
  font-weight: 600;
}

.btn-info {
  font-family: "Aladin", sans-serif !important;
  font-size: x-large !important;
  font-weight: 500 !important;
  color: white !important;
  margin: 25px;
  
}

.btn-secondary {
  color: rgb(145, 224, 250) !important;
  font-size: large !important;
}

.form-select {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

.form-control {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

.floating-form {
  font-family: "Caveat", sans-serif !important;
}

#floatingInput {
  font-family: "Caveat", sans-serif !important;
}

