.App {
  text-align: center;
}

h1 {
  font-family: "Aladin", sans-serif;
  font-size: 70px;
  color: turquoise;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: darkcyan;
  text-shadow: -4px 2px 0 white;
}

th {
  font-family: "Aladin", sans-serif;
  font-size: 30px;
  color: darkcyan !important;
  text-align: center;
}

td {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

.table-secondary {
  border-color: darkcyan !important;
  background-color: rgb(83, 83, 83) !important;
}

.form-label {
  font-family: "Aladin", sans-serif;
  font-size: x-large;
  font-weight: 600;

}

.form-check-label {
  font-family: "Aladin", sans-serif;
  font-size: large;
  font-weight: 600;
}

.btn-info {
  background-color: turquoise !important;
  font-family: "Aladin", sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: white !important;
  border-color: darkcyan;
  margin: 25px;
  
}

.btn-info:hover {
  background-color: white !important;
  color: darkcyan !important;
  border-color: darkcyan;
}

.btn-secondary {
  color: turquoise !important;
  font-size: large;
}

.btn-secondary:hover {
  background-color: lightgray !important;
  border-color: darkcyan;
}

.form-select {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

.form-control {
  font-family: "Caveat", sans-serif;
  font-size: x-large;

}

#floatingInput {
  font-family: "Caveat", sans-serif !important;
}

