body {
  margin: 0;
  background-image: url(lemons3.jpg);
  backdrop-filter: brightness(80%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "Fascinate Inline", sans-serif;
}

th {
  font-family: "Aladin", sans-serif;
  font-size: x-large;
  color: rgb(145, 224, 250) !important;
  text-align: center;
}

td {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

.form-label {
  font-family: "Aladin", sans-serif;
  font-size: x-large;
  font-weight: 600;

}

.form-check-label {
  font-family: "Aladin", sans-serif;
  font-size: large;
  font-weight: 600;
}

.form-check-input {
  text-decoration: line-through;
}

.btn-info {
  font-family: "Aladin", sans-serif !important;
  font-size: x-large !important;
  font-weight: 500 !important;
  color: white !important;
  margin: 25px;
  
}

.btn-secondary {
  color: rgb(145, 224, 250) !important;
  font-size: large !important;
}

.form-select {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

.form-control {
  font-family: "Caveat", sans-serif !important;
  font-size: x-large !important;
}

