body {
  margin: 0;
  background-image: url(lemons3.jpg);
  backdrop-filter: brightness(80%);
  font-family: -apple-system, BlinkMacSystemFont, 'Caveat', 'Aladin', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


